.searchResult {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
    margin-bottom: 35px;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}

.details {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 900px) {
    .searchResult {
        width: 50%
    }
}


@media only screen and (max-width: 450px) {
    .searchResult {
        width: 100%
    }
}
